html {
  background-color: #00dbdb;
  background-image: url("cartographer.png");
  background-repeat: repeat-y repeat-x;
  scroll-behavior: smooth;
}

#logo {
  padding-top: 50px;
}

/* Form Stuff */
.login-form {
  width: fit-content;
  margin: 50px auto;
}

.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.logTitle {
  padding-bottom: 15px;
}
.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
  margin-bottom: 8px !important;
}
.formBdr {
  border-radius: 10px;
}
.regBord {
  padding: 0rem;
}
.formLink {
  color: white;
}
.btn {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
}
h2 {
  padding: 10px;
  margin-top: 15px;
}

/* Search Results */
#results,
#songTitle,
#media,
#lyrics,
#searchHist,
#pwChange,
.notification {
  display: none;
}

.results,
.searchResults {
  background-color: #55b8bb;
  margin-bottom: 5px;
  color: white;
}

.results:hover {
  background-color: cadetblue;
}

strong {
  color: white;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem !important;
  z-index: 99;
}
